/* Style the button that is used to open and close the collapsible content */
.bottom {
    padding-top: 60%;
    overflow-y: auto;
}

.top {
    padding-bottom: 20%;
    overflow-y: auto;
}

.view-heading {
    margin-top: 0;
    padding-top: 10%;
}

